@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h2>DevExpress 17.2.7.0 Report</h2>
        <p>
            ASP.NET MVC .Net Framework 4.5
        </p>
        <p><a class="btn btn-default" target="_blank" href="@Url.Action("Report", "Home")">Relatório &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>DevExpress 17.2.7.0 Report Pdf</h2>
        <p>Gerando o arquivo pdf.</p>
        <p><a class="btn btn-default" target="_blank" href="@Url.Action("Pdf", "Home")">Report Pdf &raquo;</a></p>
    </div>
</div>